<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praksa</title>
  </head>
  <body>
    <main>
        <h1>Welcome</h1>  
    </main>
    <body>
        <p>Hi {{name}} {{surname}}</p>
        <a href = "./all">See all users</a> 
    </body>
  </body>
</html>